<section class="relative bg-purple-600 text-white pt-8 md:pt-24 pb-16 imagem-fundo">
  <div class="container mx-auto flex flex-col md:flex-row items-center justify-between px-6">
    <div class="flex-1 flex justify-center mb-0">
      <img src="assets/visuais/pincel-balde.png" alt="Pincel" class="w-auto h-96 object-contain drop-shadow-lg" />
    </div>

    <div class="flex-1 text-center">
      <h2 class="text-3xl font-bold font-glacial md:text-[42px] leading-tight">
        Seu Revit com +100.000 materiais e <br />
        famílias, atualizados mensalmente
      </h2>
      <p class="text-xl mb-6 leading-tight font-glacial md:text-[28px]">
        Assine e acesse diretamente no Revit: revestimentos, rochas, mdf,
        tintas, decoração, mobiliário, iluminação e mais
      </p>

      <div class="w-auto h-32 mx-auto mb-6">
        <img src="assets/logos/logo-branco.png" alt="Logo" class="w-full h-full object-contain" />
      </div>
    </div>
  </div>

  <div class="flex justify-center mt-2 md:mt-10">
    <button
      class="bg-[#711EAA] hover:bg-[#631596] text-white font-bold text-lg font-glacial px-16 py-3 rounded-2xl shadow-lg transition">
      TESTE 7 DIAS GRÁTIS
    </button>
  </div>
</section>